In [1]:
import pandas as pd
import feather
import numpy as np
import csv
import datetime

In [8]:
data = pd.read_csv("/Users/Hun/hse_thesis/Vk_csv_full_lem_CORRECTED.csv",
                   encoding="CP1251",
                   sep=";",
                   header=None,
                   parse_dates=[4],
                   usecols=range(9),
                   names=["text", "author_id", "wall_id", "post_comment_id", "date", "name", "surname", "city", "region"])

In [10]:
data["wall_id"] = data["wall_id"].apply(lambda text: int(text.split()[-1]))
data.head()

,text,author_id,wall_id,post_comment_id,date,name,surname,city,region
0,general lee,49154141,49154141,post 2404,2012-02-24 11:54:20,Дмитрий,Филиппов,Владимир,Владимирская область
1,shelby,49154141,49154141,post 2405,2012-02-24 11:54:33,Дмитрий,Филиппов,Владимир,Владимирская область
2,ford mustang,49154141,49154141,post 2411,2012-02-25 22:27:35,Дмитрий,Филиппов,Владимир,Владимирская область
3,murcielago,49154141,49154141,post 2400,2012-02-24 11:53:51,Дмитрий,Филиппов,Владимир,Владимирская область
4,суровый водитель,49154141,49154141,post 2392,2012-02-23 16:22:56,Дмитрий,Филиппов,Владимир,Владимирская область

In [17]:
original_texts = []
with open("/Users/Hun/hse_thesis/selected_texts.csv", "rt", newline="") as f:
    for line in f.readlines():
        text = line.split(";")[0]
        original_texts.append(text)

In [18]:
len(original_texts)

5392586

In [19]:
original_texts[0]

'"General Lee"'

In [20]:
data["original_texts"] = original_texts

In [9]:
data.head()

,author_id,city,date,name,original_texts,post_comment_id,region,surname,text,wall_id
0,49154141,Владимир,2012-02-24 11:54:20,Дмитрий,"""General Lee""",post 2404,Владимирская область,Филиппов,general lee,49154141
1,49154141,Владимир,2012-02-24 11:54:33,Дмитрий,"""Shelby GT500""",post 2405,Владимирская область,Филиппов,shelby,49154141
2,49154141,Владимир,2012-02-25 22:27:35,Дмитрий,"""1969 Ford Mustang""",post 2411,Владимирская область,Филиппов,ford mustang,49154141
3,49154141,Владимир,2012-02-24 11:53:51,Дмитрий,"""Murcielago""",post 2400,Владимирская область,Филиппов,murcielago,49154141
4,49154141,Владимир,2012-02-23 16:22:56,Дмитрий,"""Суровый водитель""",post 2392,Владимирская область,Филиппов,суровый водитель,49154141

In [20]:
data.shape

(5392586, 11)

In [38]:
cols = data.columns.tolist()

In [39]:
cols = cols[-1:] + cols[:-1]
cols

['original_texts',
 'text',
 'author_id',
 'wall_id',
 'post_comment_id',
 'date',
 'name',
 'surname',
 'city',
 'region']

In [40]:
data = data[cols]

In [11]:
data.head()

,author_id,city,date,name,original_texts,post_comment_id,region,surname,text,wall_id
0,49154141,Владимир,2012-02-24 11:54:20,Дмитрий,"""General Lee""",post 2404,Владимирская область,Филиппов,general lee,49154141
1,49154141,Владимир,2012-02-24 11:54:33,Дмитрий,"""Shelby GT500""",post 2405,Владимирская область,Филиппов,shelby,49154141
2,49154141,Владимир,2012-02-25 22:27:35,Дмитрий,"""1969 Ford Mustang""",post 2411,Владимирская область,Филиппов,ford mustang,49154141
3,49154141,Владимир,2012-02-24 11:53:51,Дмитрий,"""Murcielago""",post 2400,Владимирская область,Филиппов,murcielago,49154141
4,49154141,Владимир,2012-02-23 16:22:56,Дмитрий,"""Суровый водитель""",post 2392,Владимирская область,Филиппов,суровый водитель,49154141

In [44]:
feather.write_dataframe(data, "/Volumes/BigData/Science/hse_thesis/hse_thesis_with_original.feather")

In [2]:
data = feather.read_dataframe("/Volumes/BigData/Science/hse_thesis/hse_thesis_with_original.feather")

In [27]:
add_data = pd.read_csv("/Volumes/BigData/Science/hse_thesis/metas.csv", encoding="CP1251")

/Users/Hun/Python_env/Python3_env/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (7,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [28]:
add_data.drop("Unnamed: 0", axis=1, inplace=True)

In [29]:
add_data.head()

,author_id,wall_id,post_comment_id,date,name,surname,sex,city,region,country,...,likes,reposts,res_postlikes,res_comments,friends,groups,followers,post_likes,post_repost,x
0,28098487,Wall 28098487,post 249,20.01.2015 3:10:53,Валера,Гончаров,2,Майкоп,Адыгея,Россия,...,2.0,0.0,18.0,0.0,59.0,55.0,8.0,2,0,0
1,28098487,Wall 28098487,post 246,09.07.2014 16:21:49,Валера,Гончаров,2,Майкоп,Адыгея,Россия,...,2.0,0.0,18.0,0.0,59.0,55.0,8.0,1,0,0
2,28098487,Wall 28098487,post 245,09.07.2014 16:09:04,Валера,Гончаров,2,Майкоп,Адыгея,Россия,...,2.0,0.0,18.0,0.0,59.0,55.0,8.0,0,0,0
3,28098487,Wall 28098487,post 244,09.07.2014 16:00:54,Валера,Гончаров,2,Майкоп,Адыгея,Россия,...,2.0,0.0,18.0,0.0,59.0,55.0,8.0,0,0,0
4,28098487,Wall 28098487,post 243,09.07.2014 15:55:18,Валера,Гончаров,2,Майкоп,Адыгея,Россия,...,2.0,0.0,18.0,0.0,59.0,55.0,8.0,0,0,0

In [30]:
add_data["wall_id"] = add_data["wall_id"].apply(lambda text: int(text.split()[-1]))

add_data["post_comment_id_int"] = add_data["post_comment_id"].apply(lambda text: int(text.split()[-1]))
add_data["is_post"] = add_data["post_comment_id"].apply(lambda text: text.split()[0] == "post")
add_data.drop("post_comment_id", axis=1, inplace=True)

In [6]:
add_data = pd.read_csv("/Users/Hun/1-3-test/metadata.csv", encoding="CP1251", header=None)
add_data.drop(0, axis=1, inplace=True)
col_names=["author_id", "wall_id", "post_comment_id", "date", "name", "surname", "sex", "city", "region",
      "country", "posts", "comments", "likes", "reposts", "res_postlikes", "res_comments", "university",
       "freinds", "groups", "followers", "post_likes", "post_repost"]
add_data.columns = col_names
add_data["wall_id"] = add_data["wall_id"].apply(lambda text: int(text.split()[-1]))

add_data["post_comment_id_int"] = add_data["post_comment_id"].apply(lambda text: int(text.split()[-1]))
add_data["is_post"] = add_data["post_comment_id"].apply(lambda text: text.split()[0] == "post")
add_data.drop("post_comment_id", axis=1, inplace=True)

/Users/Hun/Python_env/Python3_env/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
len(col_names)

22

In [8]:
add_data.columns

Index(['author_id', 'wall_id', 'date', 'name', 'surname', 'sex', 'city',
       'region', 'country', 'posts', 'comments', 'likes', 'reposts',
       'res_postlikes', 'res_comments', 'university', 'freinds', 'groups',
       'followers', 'post_likes', 'post_repost', 'post_comment_id_int',
       'is_post'],
      dtype='object')

In [31]:
add_data.head()

,author_id,wall_id,date,name,surname,sex,city,region,country,posts,...,res_postlikes,res_comments,friends,groups,followers,post_likes,post_repost,x,post_comment_id_int,is_post
0,28098487,28098487,20.01.2015 3:10:53,Валера,Гончаров,2,Майкоп,Адыгея,Россия,12.0,...,18.0,0.0,59.0,55.0,8.0,2,0,0,249,True
1,28098487,28098487,09.07.2014 16:21:49,Валера,Гончаров,2,Майкоп,Адыгея,Россия,12.0,...,18.0,0.0,59.0,55.0,8.0,1,0,0,246,True
2,28098487,28098487,09.07.2014 16:09:04,Валера,Гончаров,2,Майкоп,Адыгея,Россия,12.0,...,18.0,0.0,59.0,55.0,8.0,0,0,0,245,True
3,28098487,28098487,09.07.2014 16:00:54,Валера,Гончаров,2,Майкоп,Адыгея,Россия,12.0,...,18.0,0.0,59.0,55.0,8.0,0,0,0,244,True
4,28098487,28098487,09.07.2014 15:55:18,Валера,Гончаров,2,Майкоп,Адыгея,Россия,12.0,...,18.0,0.0,59.0,55.0,8.0,0,0,0,243,True

In [10]:
data["post_comment_id_int"] = data["post_comment_id"].apply(lambda text: int(text.split()[-1]))
data["is_post"] = data["post_comment_id"].apply(lambda text: text.split()[0] == "post")

In [11]:
data.drop("post_comment_id", axis=1, inplace=True)

In [12]:
data.head()

,author_id,city,date,name,original_texts,region,surname,text,wall_id,post_comment_id_int,is_post
0,49154141,Владимир,2012-02-24 11:54:20,Дмитрий,"""General Lee""",Владимирская область,Филиппов,general lee,49154141,2404,True
1,49154141,Владимир,2012-02-24 11:54:33,Дмитрий,"""Shelby GT500""",Владимирская область,Филиппов,shelby,49154141,2405,True
2,49154141,Владимир,2012-02-25 22:27:35,Дмитрий,"""1969 Ford Mustang""",Владимирская область,Филиппов,ford mustang,49154141,2411,True
3,49154141,Владимир,2012-02-24 11:53:51,Дмитрий,"""Murcielago""",Владимирская область,Филиппов,murcielago,49154141,2400,True
4,49154141,Владимир,2012-02-23 16:22:56,Дмитрий,"""Суровый водитель""",Владимирская область,Филиппов,суровый водитель,49154141,2392,True

In [32]:
add_data.shape

(8175246, 23)

In [33]:
add_data = add_data.drop_duplicates(subset=["wall_id", "post_comment_id_int", "author_id", "is_post"])

In [34]:
add_data.shape

(8154503, 23)

In [35]:
data_2 = pd.merge(data, add_data, on=["wall_id", "post_comment_id_int", "author_id", "is_post"], how="left")

In [36]:
data_2.head()

,author_id,city_x,date_x,name_x,original_texts,region_x,surname_x,text,wall_id,post_comment_id_int,...,likes,reposts,res_postlikes,res_comments,friends,groups,followers,post_likes,post_repost,x
0,49154141,Владимир,2012-02-24 11:54:20,Дмитрий,"""General Lee""",Владимирская область,Филиппов,general lee,49154141,2404,...,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,2,0,0
1,49154141,Владимир,2012-02-24 11:54:33,Дмитрий,"""Shelby GT500""",Владимирская область,Филиппов,shelby,49154141,2405,...,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1,0,0
2,49154141,Владимир,2012-02-25 22:27:35,Дмитрий,"""1969 Ford Mustang""",Владимирская область,Филиппов,ford mustang,49154141,2411,...,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1,0,0
3,49154141,Владимир,2012-02-24 11:53:51,Дмитрий,"""Murcielago""",Владимирская область,Филиппов,murcielago,49154141,2400,...,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1,0,0
4,49154141,Владимир,2012-02-23 16:22:56,Дмитрий,"""Суровый водитель""",Владимирская область,Филиппов,суровый водитель,49154141,2392,...,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1,0,0

In [37]:
data.shape, data_2.shape

((5392586, 11), (5392586, 30))

In [40]:
data_2.columns

Index(['author_id', 'city_x', 'date_x', 'name_x', 'original_texts', 'region_x',
       'surname_x', 'text', 'wall_id', 'post_comment_id_int', 'is_post', 'sex',
       'country', 'posts', 'comments', 'likes', 'reposts', 'res_postlikes',
       'res_comments', 'friends', 'groups', 'followers', 'post_likes',
       'post_repost', 'x'],
      dtype='object')

In [39]:
data_2.drop(["city_y", "region_y", "date_y", "name_y", "surname_y"], axis=1, inplace=True)

In [24]:
cols_order = ['original_texts', 'text', 'author_id', 'city_x', 'date_x', 'name_x', 'region_x',
       'surname_x', 'wall_id', 'post_comment_id_int', 'is_post', 'sex',
       'country', 'posts', 'comments', 'likes', 'reposts', 'res_postlikes',
       'res_comments', 'university', 'freinds', 'groups', 'followers',
       'post_likes', 'post_repost']

In [41]:
data_2 = data_2[['original_texts', 'text', 'author_id', 'wall_id', 'post_comment_id_int', 
                 'city_x', 'date_x', 'name_x', 'region_x','is_post', 
       'surname_x', 'sex',
       'country', 'posts', 'comments', 'likes', 'reposts', 'res_postlikes',
       'res_comments', 'friends', 'groups', 'followers', 'post_likes',
       'post_repost', 'x']]

In [42]:
def q_strip(string):
    if type(string) is str:
        if string.startswith('"') and string.endswith('"'):
            return string[1:-1]

In [43]:
data_2["original_texts"] = data_2["original_texts"].apply(lambda string: q_strip(string))

In [44]:
data_2.head()

,original_texts,text,author_id,wall_id,post_comment_id_int,city_x,date_x,name_x,region_x,is_post,...,likes,reposts,res_postlikes,res_comments,friends,groups,followers,post_likes,post_repost,x
0,General Lee,general lee,49154141,49154141,2404,Владимир,2012-02-24 11:54:20,Дмитрий,Владимирская область,True,...,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,2,0,0
1,Shelby GT500,shelby,49154141,49154141,2405,Владимир,2012-02-24 11:54:33,Дмитрий,Владимирская область,True,...,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1,0,0
2,1969 Ford Mustang,ford mustang,49154141,49154141,2411,Владимир,2012-02-25 22:27:35,Дмитрий,Владимирская область,True,...,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1,0,0
3,Murcielago,murcielago,49154141,49154141,2400,Владимир,2012-02-24 11:53:51,Дмитрий,Владимирская область,True,...,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1,0,0
4,Суровый водитель,суровый водитель,49154141,49154141,2392,Владимир,2012-02-23 16:22:56,Дмитрий,Владимирская область,True,...,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1,0,0

In [57]:
data_2.to_csv("/Volumes/BigData/Science/hse_thesis/metadata_for_every_post_and_merged_texts/merged_data_final.csv", header=False, index=False,
             sep=";", quoting=csv.QUOTE_ALL)

In [53]:
data = pd.read_csv("/Volumes/BigData/Science/hse_thesis/metadata_for_every_post_and_merged_texts/merged_data_final.csv", header=None,
             sep=";", quoting=csv.QUOTE_ALL)

/Users/Hun/Python_env/Python3_env/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (11,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [45]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
0,General Lee,general lee,49154141,49154141,2404,Владимир,2012-02-24 11:54:20,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,2.0,0,0.0
1,Shelby GT500,shelby,49154141,49154141,2405,Владимир,2012-02-24 11:54:33,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1.0,0,0.0
2,1969 Ford Mustang,ford mustang,49154141,49154141,2411,Владимир,2012-02-25 22:27:35,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1.0,0,0.0
3,Murcielago,murcielago,49154141,49154141,2400,Владимир,2012-02-24 11:53:51,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1.0,0,0.0
4,Суровый водитель,суровый водитель,49154141,49154141,2392,Владимир,2012-02-23 16:22:56,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1.0,0,0.0

In [63]:
pd.set_option('display.max_columns', 30)

In [49]:
data[(data["wall_id"] == 279868603) & (data["post_comment_id_int"] == 121)]

,original_texts,text,author_id,wall_id,post_comment_id_int,city,date,name,region,is_post,surname,sex,country,posts,comments,likes,res_comments,res_postlikes,res_comments_likes,friends,groups,followers,post_likes,post_repost,post_comments
455174,Голубые глаза великолепны!,голубой глаз великолепный,279868603,279868603,121,Комсомольский,2015-08-23 21:25:22,Виктор,Адыгея,True,Даниленко,2,Россия,118.0,9.0,2.0,13.0,67.0,0.0,35.0,12.0,1.0,1.0,0,2.0
473941,Поддерживаю!) ?,поддерживать,0,279868603,121,Комсомольский,2015-08-24 00:26:33,Виктор,Адыгея,False,Даниленко,2,Россия,118.0,9.0,2.0,13.0,67.0,0.0,35.0,12.0,1.0,0.0,0,0.0

In [47]:
cols = ['original_texts', 'text', 'author_id', 'wall_id', 'post_comment_id_int', 
        'city', 'date', 'name', 'region','is_post', 'surname', 'sex',
       'country', 'posts', 'comments', 'likes', 'res_comments', 'res_postlikes',
       'res_comments_likes', 'friends', 'groups', 'followers', 'post_likes',
       'post_repost', 'post_comments']

In [54]:
data.columns = cols

In [73]:
data.head(10)

,original_texts,text,author_id,wall_id,post_comment_id_int,city,date,name,region,is_post,surname,sex,country,posts,comments,likes,res_comments,res_postlikes,res_comments_likes,friends,groups,followers,post_likes,post_repost,post_comments,text_length
0,General Lee,general lee,49154141,49154141,2404,Владимир,2012-02-24 11:54:20,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,2.0,0,0.0,2
1,Shelby GT500,shelby,49154141,49154141,2405,Владимир,2012-02-24 11:54:33,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1.0,0,0.0,1
2,1969 Ford Mustang,ford mustang,49154141,49154141,2411,Владимир,2012-02-25 22:27:35,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1.0,0,0.0,2
3,Murcielago,murcielago,49154141,49154141,2400,Владимир,2012-02-24 11:53:51,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1.0,0,0.0,1
4,Суровый водитель,суровый водитель,49154141,49154141,2392,Владимир,2012-02-23 16:22:56,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1.0,0,0.0,2
5,Shelby GT,shelby,49154141,49154141,2399,Владимир,2012-02-24 11:53:47,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1.0,0,0.0,1
6,Dodge Challenger,dodge challenger,49154141,49154141,2398,Владимир,2012-02-24 11:53:43,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1.0,0,0.0,2
7,Мотоциклы из старых наручных часов,мотоцикл старое наручный час,49154141,49154141,2410,Владимир,2012-02-25 22:16:04,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,2.0,0,0.0,4
8,69 Camaro SS RS 396 69 Camaro SS 396 convert...,camaro camaro convertible,49154141,49154141,2403,Владимир,2012-02-24 11:54:16,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1.0,0,0.0,3
9,Dodge Charger R/T,dodge charger,49154141,49154141,2406,Владимир,2012-02-24 11:54:41,Дмитрий,Владимирская область,True,Филиппов,2,Россия,2133.0,0.0,1352.0,0.0,2670.0,0.0,198.0,106.0,113.0,1.0,0,0.0,2

In [55]:
def sex_c(val):
    if val == "1":
        return 1
    if val == " 1":
        return 1
    if val == "2":
        return 2
    if val == " 2":
        return 2
    if val == "0":
        return 0
    if val == " 0":
        return 0
    else: return val
data["sex"] = data["sex"].apply(sex_c)

In [56]:
data["sex"].value_counts()

1      3466516
2      1787761
0        40879
           521
3.0         12
 3           6
4.0          6
5.0          4
 4           3
 5           2
Name: sex, dtype: int64

In [65]:
data.shape

(5392586, 26)

In [61]:
data["text_length"] = data["text"].apply(lambda x: len(x.split()))

In [67]:
data.to_csv("/Volumes/BigData/Science/hse_thesis/metadata_for_every_post_and_merged_texts/merged_data_final.csv", index=False)

In [8]:
data = pd.read_csv("/Volumes/BigData/Science/hse_thesis/metadata_for_every_post_and_merged_texts/merged_data_final.csv", parse_dates=["date"])

/Users/Hun/Python_env/Python3_env/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (11,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.dtypes

original_texts                 object
text                           object
author_id                       int64
wall_id                         int64
post_comment_id_int             int64
city                           object
date                   datetime64[ns]
name                           object
region                         object
is_post                          bool
surname                        object
sex                            object
country                        object
posts                         float64
comments                      float64
likes                         float64
res_comments                  float64
res_postlikes                 float64
res_comments_likes            float64
friends                       float64
groups                        float64
followers                     float64
post_likes                    float64
post_repost                    object
post_comments                 float64
text_length                     int64
dtype: object

In [4]:
def aa(val):
    try:
        res = float(val)
        return res
    except ValueError as err:
        print(err, val)
        return np.nan

In [5]:
data["post_repost"] = data["post_repost"].apply(aa)

could not convert string to float:
could not convert string to float:

In [6]:
data["original_texts"] = data["original_texts"].apply(lambda x: str(x))

In [7]:
data["text"] = data["text"].apply(lambda x: str(x))

In [8]:
data_good_date = data[data.date >= datetime.date(year=2010,month=10,day=21)]
data_good_date.shape

(5121979, 26)

In [9]:
groupedby_author_sum = data_good_date.groupby("author_id").agg({"text_length": "sum"})
groupedby_author_sum_50 = groupedby_author_sum[groupedby_author_sum["text_length"] >= 50]
authors_50 = groupedby_author_sum_50.index.values
len(authors_50)

42631

In [10]:
data_authors_50 = data_good_date[data_good_date["author_id"].isin(authors_50)]
len(data_authors_50)

4414265

In [11]:
valid_regions = data_authors_50["region"].value_counts()[data_authors_50["region"].value_counts() > 10000].axes[0].tolist()
data_authors_50 = data_authors_50[data_authors_50["region"].isin(valid_regions)]

In [12]:
groupedby_author_sum = data_authors_50.groupby("author_id").agg({"text_length": "sum"})
authors_300 = groupedby_author_sum[groupedby_author_sum["text_length"] <= 300].index.values
data_authors_300 = data_authors_50[data_authors_50["author_id"].isin(authors_300)]
data_authors_300.shape

(346635, 26)

In [44]:
agg_dict = {'original_texts': 'sum', 'text': 'sum', 
        'city': 'first', 'region': 'first', 'sex': 'first',
       'posts': 'first', 'comments': 'first', 'likes': 'first','res_comments': 'first', 'res_postlikes': 'first',
       'res_comments_likes': 'first', 'friends': 'first', 'groups': 'first', 'followers': 'first',
        'post_likes': 'sum', 'post_repost': 'sum', 'post_comments': 'sum'
        }

In [45]:
merged_300 = data_authors_300.groupby("author_id").agg(agg_dict)
merged_300["original_texts"] = merged_300["original_texts"].apply(lambda x: [x])
merged_300["text"] = merged_300["text"].apply(lambda x: [x])

In [ ]:
merged_300.shape

(23877, 18)

In [ ]:
groupedby_author_sum = data_authors_50.groupby("author_id").agg({"text_length": "sum"})
authors_more_300 = groupedby_author_sum[groupedby_author_sum["text_length"] > 300].index.values
data_authors_more_300 = data_authors_50[data_authors_50["author_id"].isin(authors_more_300)]
data_authors_more_300.shape

In [ ]:
data_authors_more_300 = data_authors_more_300[data_authors_more_300["author_id"] != 0]
data_authors_more_300.shape

In [22]:
from collections import defaultdict

# result = {author_id: {docs: [("text", likes), ...], probs: [(t_num, prob)...], region: "str", age: "str", sex: int}, ...}
#'original_texts': 'sum', 'text': 'sum', 
#        'city': 'first', 'region': 'first', 'sex': 'first',
#       'posts': 'first', 'comments': 'first', 'likes': 'first','res_comments': 'first', 'res_postlikes': 'first',
#       'res_comments_likes': 'first', 'friends': 'first', 'groups': 'first', 'followers': 'first',
#        'post_likes': 'sum', 'post_repost': 'sum', 'post_comments': 'sum'
merged_more_300 = {}
for author_id, author_data in data_authors_more_300.groupby("author_id"):

    texts_number = len(author_data["text"])
    orig_texts_storage = ""
    texts_storage = ""
    post_likes_storage = 0
    post_repost_storage = 0
    post_comments_storage = 0
    auth_dict = {}
    auth_dict["docs"] = []
    auth_dict["region"] = author_data["region"].iloc[0]
    auth_dict["city"] = author_data["city"].iloc[0]
    auth_dict["sex"] = author_data["sex"].iloc[0]
    auth_dict["friends"] = author_data["friends"].iloc[0]
    auth_dict["followers"] = author_data["followers"].iloc[0]
    auth_dict["likes"] = author_data["likes"].iloc[0]
    auth_dict["posts"] = author_data["posts"].iloc[0]
    auth_dict["comments"] = author_data["comments"].iloc[0]
    auth_dict["res_comments"] = author_data["res_comments"].iloc[0]
    auth_dict["res_comments_likes"] = author_data["res_comments_likes"].iloc[0]
    auth_dict["res_postlikes"] = author_data["res_postlikes"].iloc[0]
    auth_dict["groups"] = author_data["groups"].iloc[0]

    
    for text_num, text in enumerate(author_data["text"]):
        last = (text_num + 1) == texts_number
        orig_texts_storage += author_data["original_texts"].iloc[text_num]
        texts_storage += text
        post_likes_storage += author_data["post_likes"].iloc[text_num]
        post_repost_storage += author_data["post_repost"].iloc[text_num]
        post_comments_storage += author_data["post_comments"].iloc[text_num]
        
        if last:
            if len(texts_storage.split()) >= 50:
                # если это последний документ и количество слов в нём превышает 50 — формируем документ и формируем автора
                doc = {"o_texts": orig_texts_storage, "texts": texts_storage,
                      "post_likes": post_likes_storage, "post_repost": post_repost_storage, "post_comments": post_comments_storage}
                auth_dict["docs"].append(doc)
                merged_more_300[author_id] = auth_dict
                orig_texts_storage = ""
                texts_storage = ""
                post_likes_storage = 0
                post_repost_storage = 0
                post_comments_storage = 0
            else:
                # а если не превышает — добавляем к предыдущему и формируем автора
                doc = {"o_texts": orig_texts_storage, "texts": texts_storage,
                      "post_likes": post_likes_storage, "post_repost": post_repost_storage, "post_comments": post_comments_storage}
                auth_dict["docs"][-1]["o_texts"] += orig_texts_storage
                auth_dict["docs"][-1]["texts"] += texts_storage
                auth_dict["docs"][-1]["post_likes"] += post_likes_storage
                auth_dict["docs"][-1]["post_repost"] += post_repost_storage
                auth_dict["docs"][-1]["post_comments"] += post_comments_storage
                merged_more_300[author_id] = auth_dict
                orig_texts_storage = ""
                texts_storage = ""
                post_likes_storage = 0
                post_repost_storage = 0
                post_comments_storage = 0
        else:
            if len(texts_storage.split()) >= 300:
                # если количество слов в документе достигло 300 — формируем документ
                doc = {"o_texts": orig_texts_storage, "texts": texts_storage,
                      "post_likes": post_likes_storage, "post_repost": post_repost_storage, "post_comments": post_comments_storage}
                auth_dict["docs"].append(doc)
                orig_texts_storage = ""
                texts_storage = ""
                post_likes_storage = 0
                post_repost_storage = 0
                post_comments_storage = 0
            else:
                # если ни одно условие не выполнено, продолжаем сливать
                continue

In [25]:
len(merged_more_300)

12519

In [32]:
merged_300_dict = merged_300.to_dict(orient="index")

In [40]:
with open("/Volumes/BigData/Science/hse_thesis/metadata_for_every_post_and_merged_texts/aggregated_texts.csv", "wt", newline="") as f:
    fieldnames = ["author_id", "region", "city", "groups", "likes", "sex",
                  "res_comments_likes", "res_comments", "res_postlikes",
                  "friends", "followers", "comments", "text", "o_text",
                  "post_comments", "post_likes", "post_repost", "posts"]
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    for auth_id, val in merged_300_dict.items():
        row_dict = {
            "author_id": auth_id,
            "region": val["region"],
            "city": val["city"],
            "groups": val["groups"],
            "likes": val["likes"],
            "sex": val["sex"],
            "res_comments": val["res_comments"],
            "res_comments_likes": val["res_comments_likes"],
            "res_postlikes": val["res_postlikes"],
            "friends": val["friends"],
            "followers": val["followers"],
            "comments": val["comments"],
            "text": val["docs"][0],
            "o_text": val["original_texts"][0],
            "post_comments": val["post_comments"],
            "post_likes": val["post_likes"],
            "post_repost": val["post_repost"],
            "posts": val["posts"],
        }
        writer.writerow(row_dict)
    for auth_id, val in merged_more_300.items():
        for doc in val["docs"]:
            row_dict = {
                "author_id": auth_id,
                "region": val["region"],
                "city": val["city"],
                "groups": val["groups"],
                "likes": val["likes"],
                "sex": val["sex"],
                "res_comments": val["res_comments"],
                "res_comments_likes": val["res_comments_likes"],
                "res_postlikes": val["res_postlikes"],
                "friends": val["friends"],
                "followers": val["followers"],
                "comments": val["comments"],
                "text": doc["texts"],
                "o_text": doc["o_texts"],
                "post_comments": doc["post_comments"],
                "post_likes": doc["post_likes"],
                "post_repost": doc["post_repost"],
                "posts": val["posts"],
            }
            writer.writerow(row_dict)

In [3]:
aggregated_texts.shape

(239732, 18)

In [3]:
fieldnames = ["o_text", "text", "author_id", "region", "city", "groups", "likes", "sex",
              "res_comments_likes", "res_comments", "res_postlikes",
              "friends", "followers", "posts", "comments",
              "post_comments", "post_likes", "post_repost"]

In [6]:
aggregated_texts = aggregated_texts[fieldnames]

In [9]:
aggregated_texts.to_csv("/Volumes/BigData/Science/hse_thesis/metadata_for_every_post_and_merged_texts/aggregated_texts_2.csv", header=False, index=False,
             sep=";", quoting=csv.QUOTE_ALL, line_terminator=";\r\n")

In [4]:
aggregated_texts = pd.read_csv("/Volumes/BigData/Science/hse_thesis/metadata_for_every_post_and_merged_texts/aggregated_texts.csv",
                               names=fieldnames, sep=";", quoting=csv.QUOTE_ALL)

In [5]:
aggregated_texts.head()

,o_text,text,author_id,region,city,groups,likes,sex,res_comments_likes,res_comments,res_postlikes,friends,followers,posts,comments,post_comments,post_likes,post_repost
0,Вы уже обзавелись новогодним настроением ?????...,{обзаводиться} {новогодний} {настроение} {прио...,3276812,Тюменская область,Тюмень,225.0,0.0,1.0,0.0,0.0,0.0,183.0,13.0,3.0,0.0,0.0,0.0,0.0
1,8 марта• Красивые картинки и открытки vk.com/...,{март} {красивый} {картинка} {открытка} {vk} {...,112984077,Коми,Визинга,8.0,0.0,1.0,0.0,0.0,12.0,120.0,55.0,16.0,0.0,0.0,12.0,0.0
2,Привет! Я оценил тебя тут: ¦¦¦ vk.com/app6866...,{оценивать} {vk} {играть} {разгадайка} {присое...,181727714,Липецкая область,Чаплыгин,15.0,0.0,2.0,0.0,0.0,0.0,28.0,9.0,7.0,0.0,0.0,0.0,0.0
3,"Вау! Я считаю, что ты намного круче, чем друго...",{вау} {считать} {намного} {крутой} {vk} {kryyt...,84672530,Орловская область,Орёл,0.0,1.0,1.0,0.0,0.0,8.0,16.0,10.0,11.0,0.0,0.0,8.0,0.0
4,МегаТест: Насколько % ты знаешь My little pony...,{мегатест} {насколько} {pony} {бронь} {тест} {...,269877267,Вологодская область,Вологда,7.0,0.0,1.0,0.0,0.0,1.0,51.0,9.0,12.0,0.0,0.0,1.0,0.0

In [10]:
aggregated_texts.iloc[:100].to_csv("/Volumes/BigData/Science/hse_thesis/aggregated_texts_sample_default.csv", header=False, index=False,
             sep=";", quoting=csv.QUOTE_ALL, line_terminator=";\r\n")

In [10]:
def to_bracers(text):
    return " ".join(["{" + token + "}"for token in text.split()])

aggregated_texts["text"] = aggregated_texts["text"].apply(to_bracers)

In [28]:
list(merged_more_300.items())[1]

(246087682,
 {'city': 'Владикавказ',
  'comments': 0.0,
  'docs': [{'o_texts': '#DDА всё не так,как я мечтала,Слеза лилась,душа кричала.И разговоры по ночам,У нас уже не по душам.В сердце грусть,печаль,тоска,И мне так плохо без тебя.Хочу с тобою рядом быть,И не на миг не уходить.Как трудно мне признаться в чувствах,Переступив через себя.И выдавить три этих слова,Как сильно Я люблю тебя...Ну, дай мне шанс еще одинИ я разочарую тебя дважды.Гоните в шею, хоть еще любимТого, кто подло предал вас однажды.Имей безмерную наглость поступать так, как хочешь именно ты.http://sprashivai.ru/dianadoyТы - свет, ради которого я иду домой, Мам.???Ты можешь быть в отношениях 2 года и ничего не чувствовать. Ты можешь быть в отношениях 2 месяца и чувствовать все. Время – не является мерой качества, безрассудной страсти, или любви.Сад у замка Нагоя, ЯпонияЦветочные иллюстрации от Kari Herer-А ты ее любил? Какой она была?Вдруг спросит у тебя твоя невеста.- Обычной. Как и все. Бурча едва.Одернешь руку. И поникнешь резко.- Конечно ,не любил. Об этом все забыто.Конечно,не хочу вернуть ее назад.( А если бы войти, и дверь была открыта,А если б посмотреть я мог в ее глаза)-А ведь она не я, тебе со мною лучше?Она ведь только та, что бросил и ушел!( О если бы найти от сердца ее ключик,То я бы босиком за ней одной пошел)-Какой она была? Какие в ней устои?Наверное, от злости сжимала кулаки?( Она всегда спасала своею добротою,И этим отпускала,любя,мои грехи)-Какой она была? Наверно неуклюжей?А может очень грубой, раз ты теперь со мной?( Она могла весною бродить с дождем по лужам.И пахли ее руки душистою травой)-С какой она фигурой? Какой размер груди?Какие в ней цвета всегда преобладали?( Я до сих пор забыть не смог ее духи,И линии на теле так в память мне запали)-Какой у нее голос? И как готовит ужин?А что тебе дарила всегда на Новый год?(А голос у нее всегда слегка простужен,Глаза смешно так щурит. И по утрам поет)-Но ты ее не любишь? Тебе со мной теплее!?-Конечно, не люблю. К чему этот допрос!(Конечно, не люблю...Я ей одной болею,Глаза ее мне снятся, за пеленой волос)Взяв пачку сигарет,опять шагнул за двери.(Конечно же о ней тебе всегда я врал)Старалась так она, отчаянно мне верить,А я ее всегда, с тобою предавал..Я на Спрашивай.руи чувства остыли и улетели стайками.люди как идиоты,напоминают о себе лайками.когда чувства уже простуженыи у человека есть кто-то ближе.люди как идиоты думают,что ими все еще дышат.я всё соврал. у вас обычные глаза,и голос ваш такой же как у многих,я врал, что всё хотел вернуть назад,сплетая воедино две дороги. и ваши безмятежные чертыничуть меня не душат среди ночи.да и в объятьях ваших глубины,мне кажется, не больше, чем у прочих.ещё я врал, что шёл за вами по пути,что выдержал разлуки еле-еле.я так же врал, что вас когда-нибудь любил.я врал себе... но так и не поверил..????С одной и на всю жизнь. Вот к чему нужно стремиться.А не как бомж заглядывать в каждую мусорку, и каждую звать любимой.??????Я на Спрашивай.руСмотри: я люблю тебя и выбираю тебя, день за днём, даже когда мы на сумасшедшем расстоянии. Говорят, надо бороться за любовь. Бороться надо с собой, вернее, со своими страхами, сомнениями, гордыней. И я борюсь.?Идеальных нет, есть любимые.А любимые - всегда самые лучшие.Cамая пугающая вещь в расстоянии - это то, что ты не знаешь, скучают по тебе или забывают.Но слишком знаем мы друг друга, Чтобы друг друга позабыть.#ЛермонтовВсе мы будем счастливы!Чем меньше окружающие знают о твоей жизни, тем удачнее она складывается.???Всегда приятно,когда тебя обнимает Мама - и не важно сколько тебе лет.Обожаю запах воздуха ночью. Открываю окно и дышу. Людей нет, тишина, умиротворение. Кайф.это жизнь.никогда не будет так, как ты захочешь.всё будет так, как должно быть.Ты действительно нравишься мне.Сильно.Я знаю, что иногда я все порчу и делаю вещи, по которым кажется, что мне все равно, но поверь мне..Ты мой мир.nanИногда, нам не хватает слов, чтобы сказать, что чувствуем. Иногда, нам не хватает сил признаться в том, что любим. Иногда, мы не можем понизить свою гордость и сказать: подожди, ты мне нужен, останься! А иногда мы даже не понимаем как нам дорог человек.',
    'post_comments': 0.0,
    'post_likes': 102.0,
    'post_repost': 1.0,
    'texts': 'ddа мечтать слеза литься душ кричать разговор ночь душ сердце грусть печалить тоска плохо ряд миг уходить трудно признаваться чувство переступать выдавливать тереть слово сильно любить шанс одини разочаровывать дважды гнать шея подло предавать безмерный наглость поступать sprashivai свет ида домой мама отношение чувствовать отношение месяц чувствовать время мера качество безрассудный страсть любовь сад замок нагоя япония цветочный иллюстрация kari любить спрашивать невеста обычный бурчать одергивать рука поникать резкий любить забывать вернуть назад входить дверь открывать посмотреть глаз хороший бросать уходить находить сердце ключик босиком пойти устой злость сжимать кулак спасать доброта отпускать любить грех неуклюжий грубый весна бродить дождь лужа пахнуть рука душистый трава фигура размер грудь цвет преобладать пора забывать смог дух линия теле память западать голос готовить ужин дарить голос слегка простужать глаз смешно щурить утро петь любить тепло любить допрос любить болеть глаз сниться пелена волос пачка сигарета шагнуть двери врать стараться отчаянно верить предавать спрашивать ру чувство остывать улетать стайка идиот напоминать лайка чувство простуженыи близкий идиот дышать соврать обычный глаз голос врать вернуть назад сплетать воедино дорога безмятежный чертыничуть душить ночь объятие глубина врать путь выдерживать разлука еле-еле врать любить врать поверить жизнь стремиться бомж заглядывать каждая мусорка каждая звать любимая спрашивать ру любить выбирать день сумасшедший расстояние бороться любовь бороться страх сомнение гордыня бороться идеальный любимая любимая хороший cамая пугать вещь расстояние скучать забывать друг друг друг друг позабывать лермонтов счастливый маленький окружать жизнь удачный складываться приятно обнимать мама важно обожать запах воздух ночь открывать окно дышать тишин умиротворение кайф жизнь захотеть нравиться сильно иногда портить вещий поверить мир счастие солнечный зайчик ветер трава запах корица яблоко какао одеяло холодная вечер спрятать щенячий запах мамин звонок соленый морской вод яркий чистый небо безгранично летний рассвет школьный ранец исписывать тетрадка детский смех заветный воспоминание везде присматриваться иногда хватать слово чувствовать иногда хватать сила признаваться любим иногда понижать гордость подождать иногда дорога '},
   {'o_texts': 'По мне - самое главное в жизни, это иметь счастливую семьюНикогда не возвращайся в прошлое. Оно убивает твое драгоценное время. Истории не повторяются, люди не меняются. Никогда никого не жди и не стой на месте. Иди только вперед, не оглядывайся. Люди, которым ты нужен, тебя догонят....Я на Спрашивай.руВ жизни каждого есть такой человек, который не поддается логике, законам и принципам. Ты отлично понимаешь, что нет с ним будущего, семьи, счастья. Только боль, бесконечные разговоры и приступы какой-то неконтролируемой животной страсти. Ты гадаешь, любовь ли это, дружба, просто привычка. Отпускаешь. Думаешь, что забыла, удаляешь всё номера, смски и фотографии… А потом какой-то глупый сон, ночное смс или просто наступающий на пятки апрель — и ты уже думаешь о нем, вспоминаешь эти короткометражные моменты вашего «мы», но еще борешься. Так отчаянно и старательно, будто Брестская крепость где-то внутри тебя и никак нельзя сдаваться…Почему-то, когда он звонит, ты бросаешь все — и в омут. В этот запах еле уловимый, в эти руки , в эти усталые глаза, сообщения вконтакте и ночные пьяные звонки, время на твоих часах — его, целуешь в висок, знаешь, что еще чуть-чуть и все. Но тем не менее, идешь до конца, до последнего шага.По ночам всё, как в красивой книжке. А ты кожей чувствуешь эту обреченность. Ведь когда-нибудь, все равно, придется выбирать.Все начиналось с ничего. Ничем и закончилось.А то, что в промежутке была буря, уже не имеет значения…Не бывает плохих и хороших.Бывают свои и чужие.Не слушай шепот тех, кто якобы в курсе.Верь сердцу, доверяй своим чувствам.Ничтожен тот мужчина, который любит каждую подряд.Восхищаюсь людьми, которые не позволяют никому вмешиваться в их жизнь. Они сами ищут истину, по крупицам собирают свой мир, не обращая внимания на удивленные и осуждающие взгляды окружающих. Эти люди так многогранны, так прекрасны. Они открыты для других, но никогда не будут стучаться в двери, где им не рады. Они живут в согласии с собой, так как подсказывает им сердце. Обычно их считают безумцами, но эти люди любят жизнь, и она отвечает им взаимностью, преподнося им свои лучшие дары.Согласитесь, что счастье любимого человека приносит нам гораздо больше радости, чем наше собственноеБальзак ОнореДобро, которое ты делаешь от сердца, ты делаешь всегда себе.Лев ТолстойГлаза слепы, ищите сердцем.Сила в той, кто останется рядом с тобой. Кем бы ты ни был.так приятно смотреть, когда мама счастливаяnan',
    'post_comments': 0.0,
    'post_likes': 88.0,
    'post_repost': 3.0,
    'texts': 'жизнь счастливый возвращаться прошлое убивать драгоценный время история повторяться меняться ждать стоить место вперед оглядываться догонять спрашивать ру жизнь поддаваться логик закон принцип отлично будущее семья счастие боль бесконечный разговор приступ неконтролируемый животный страсть гадать любовь дружба привычка отпускать забывать удалять номер смска фотография пот глупый сон ночное смс наступать пятка апрель вспоминать короткометражный момент бороться отчаянно старательный брестский крепость внутри сдаваться звонить бросать омут запах еле уловимый рука усталый глаз сообщение вконтакте ночное пьяный звонкий время час целовать виска конец шаг ночь красивый книжка кожа чувствовать обреченность придтись выбирать начинаться заканчиваться промежуток бурить значение плохой хороший чужая слушать шепот якоб курс верить сердце доверять чувство ничтожный мужчина любить каждая подряд восхищаться вмешиваться жизнь искать истина крупица собирать мир обращать внимание удивленный осуждать взгляд окружать многогранный прекрасный открывать стучаться двери рад жить согласие подсказывать сердце считать безумец любить жизнь отвечать взаимность преподносить хороший дар соглашаться счастие любимый приносить радость оноре добро сердце лев толстая глаз слепой искать сердце сила ряд приятно мама счастливый скороговорка тренировка дикцииотработка звук добывать боб бобыль вакула баба обувать вакула баба обувать топот копыто пыль поле лететь бык тупогуб тупогубенький бычок бык бел губа тупой колпак колпак колпак колпак верзила вавила весело ворочать вил кол колокол ворот коловорот шакал шагать шакал скакать купить кип пик пик кип купить купить кип пух кип пух купить повар петр повар павел петр плавать павел плавать ткать ткач ткань платок таня водовоз везти вод водопровод голов голов голова переголовил перевыголовил пономарь пономарь перепономарить перевыпономарить пономарь пономарь перепономарит перевыпономарит клим клин колотить стоить копна подприкопёночком пол полет фрося просо сорняк вынашивать фрося краб краб грабли подавать грабли краб краб сено грабли краб грабить елка иголка колка кукушка кукушонок купить капюшон надевать кукушонок капюшон капюшон смешной бобер бобренок добрый бобер брать бобренок боб бобер будоражить бобренок боб забывать панкрат кондрат домкрат панкрат домкрат подымать тракт трактор ждать тракт трактор домкрат мед медовик медовик придти прокоп кипеть укроп уходить прокоп кипеть укроп прокоп кипеть укроп прокоп кипеть укроп тереть поп тереть прокопий поп тереть прокопиевич поп прокопий поп прокопиевич галка поп пугать куст увидеть попугай попугай пугать галка поп пугать галка поп куст пугать пугать сметь попугай волховал волхв хлев волхв бомбардир бонбоньерка бомбардировать барышня феофан митрофаньча тереть сын феофаныч '}],
  'followers': 80.0,
  'friends': 66.0,
  'groups': 48.0,
  'likes': 1.0,
  'posts': 49.0,
  'region': 'Северная Осетия - Алания',
  'res_comments': 0.0,
  'res_comments_likes': 0.0,
  'res_postlikes': 305.0,
  'sex': '1'})

In [33]:
list(merged_300_dict.items())[1]

(112984077,
 {'city': 'Визинга',
  'comments': 0.0,
  'docs': ['март красивый картинка открытка vk fotomimi наступать март красивый картинка открытка vk fotomimi отправлять vk top cards отправлять vk отправлять vk отправлять огромныеоткрытки vk request key отправлять огромный открытка рфhttps vk top cards mid loc отправлять огромный открытка рфhttps vk top cards mid loc vkontakte magic поздравлять небольшой сюрприз vkontakte postcard post отправлять огромный открытка рфhttps vk top cards mid loc отправлять огромный открытка рфhttps vk top cards mid loc подарить уникальный подарок vk mid loc ольга подбирать город котор комфортно жить vkontakte sovet youhttps vk ольга фото понравиться какое vkontakte foto likehttps vk foto mid ольга фото понравиться какое vkontakte foto likehttps vk foto mid '],
  'followers': 55.0,
  'friends': 120.0,
  'groups': 8.0,
  'likes': 0.0,
  'original_texts': ['8 марта• Красивые картинки и открытки  vk.com/fotomimiс наступающим 8 марта • Красивые картинки и открытки  vk.com/fotomimi?Отправлено через https://vk.com/top_cards#3797419?Отправлено через https://vk.com/app1804162#3690854?Отправлено через https://vk.com/app1804162#3710527Отправлено через ОгромныеОткрытки http://vk.com/app1804162?request_key=ih003c687474703a2f2f637331313237342e757365726170692e636f6d2f75393233353130392f3135353837343938352f785f33633530303663632e6a7067i3225718i0i1i385? отправлено через: http://огромные-открытки.рфhttps://vk.com/top_cards?mid=108908195 from_id=112984077 loc=0ih003d687474703a2f2f637331303535342e757365726170692e636f6d2f7532303134313932362f3135323832373734362f785f36376538613135642e6a7067i3069033i0i1? отправлено через: http://огромные-открытки.рфhttps://vk.com/top_cards?mid=108908195 from_id=112984077 loc=0ih003e687474703a2f2f637331303032322e766b6f6e74616b74652e72752f7531363836383333382f3134333333323535312f785f31646666313265372e6a7067i2859659i0i1http://vkontakte.ru/app2406713#magic/771113Я хочу поздравить тебя уже сейчас, у меня для тебя небольшой сюрприз!http://vkontakte.ru/postcard_2012#post? отправлено через: http://огромные-открытки.рфhttps://vk.com/top_cards?mid=108908195 from_id=112984077 loc=550818063ih003e687474703a2f2f637331303638312e766b6f6e74616b74652e72752f7532303134313932362f3134393033353134362f785f64393038326639632e6a7067i2780912i6i1? отправлено через: http://огромные-открытки.рфhttps://vk.com/top_cards?mid=108908195 from_id=112984077 loc=501624071ih003e687474703a2f2f637331303533322e766b6f6e74616b74652e72752f7535313939373836372f3134393039343538392f785f35323063303632302e6a7067i2736085i0i1Подари мне уникальный подарок, пожалуйста.https://vk.com/elka2k12?mid=108908195 from_id=112984077 loc=1Ольга, я подобрала город в котором тебе будет комфортно жить, смотри http://vkontakte.ru/app2324342#sovet/for_youhttps://vk.com/app2324342_108908195?from_id=112984077Ольга!!! Одно из твоих фото мне очень понравилось. Узнай какое здесь =  http://vkontakte.ru/foto.likehttps://vk.com/foto.like?mid=108908195 from_id=112984077Ольга!!! Одно из твоих фото мне очень понравилось. Узнай какое здесь =  http://vkontakte.ru/foto.likehttps://vk.com/foto.like?mid=108908195 from_id=112984077'],
  'post_comments': 0.0,
  'post_likes': 12.0,
  'post_repost': 0.0,
  'posts': 16.0,
  'region': 'Коми',
  'res_comments': 0.0,
  'res_comments_likes': 0.0,
  'res_postlikes': 12.0,
  'sex': 1.0})

In [ ]:
merged_more_300

Выгрузка для Юры

In [9]:
data.columns

Index(['original_texts', 'text', 'author_id', 'wall_id', 'post_comment_id_int',
       'city', 'date', 'name', 'region', 'is_post', 'surname', 'sex',
       'country', 'posts', 'comments', 'likes', 'res_comments',
       'res_postlikes', 'res_comments_likes', 'friends', 'groups', 'followers',
       'post_likes', 'post_repost', 'post_comments', 'text_length'],
      dtype='object')

In [12]:
data.drop(['post_likes', 'post_repost', 'post_comments', 'text_length'], axis=1, inplace=True)

In [30]:
agg_dict = { 
        'city': 'first', 'region': 'first', 'sex': 'first',
       'posts': 'first', 'comments': 'first', 'likes': 'first','res_comments': 'first', 'res_postlikes': 'first',
       'res_comments_likes': 'first', 'friends': 'first', 'groups': 'first', 'followers': 'first'
        }
g_data = data.groupby("author_id").agg(agg_dict)

In [15]:
g_data.head()

,res_comments,res_postlikes,sex,city,region,likes,posts,friends,groups,followers,comments,res_comments_likes
author_id,,,,,,,,,,,,
0,71.0,53.0,2,Барнаул,Курганская область,36.0,107.0,115.0,35.0,13.0,28.0,1.0
494,0.0,0.0,1,NaN,NaN,7.0,1.0,304.0,14.0,724.0,0.0,0.0
831,0.0,0.0,1,Санкт-Петербург,Санкт-Петербург,0.0,10.0,476.0,45.0,1780.0,0.0,0.0
1073,0.0,0.0,1,Москва,Москва,0.0,1.0,590.0,64.0,2282.0,0.0,0.0
1332,0.0,0.0,2,Санкт-Петербург,Санкт-Петербург,0.0,1.0,99.0,50.0,273.0,0.0,0.0

In [18]:
ids_for_tm = set(aggregated_texts.groupby("author_id").groups.keys())

In [20]:
len(ids_for_tm)

36396

In [32]:
g_data["for_tm"] = g_data.index.isin(ids_for_tm)

In [31]:
g_data.shape

(417703, 12)

In [35]:
g_data.to_csv("/Volumes/BigData/Science/hse_thesis/vk_users_for_Yura.csv", sep=";", encoding="CP1251")

In [2]:
d = pd.read_csv("/Users/Hun/Downloads/totmlda.csv", sep=";", quoting=csv.QUOTE_ALL, encoding="CP1251")

In [3]:
d

,Оригинальный документ один,{лематизированный} {документ} {один},Nick1,md1,md2,md3,md4,md5,md6,md7,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,md15,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,md20,Unnamed: 23
0,Оригинальный документ два,{лематизированный} {документ} {два},Nick2,md21,md22,md23,md24,md25,md26,md27,...,NaN,NaN,NaN,NaN,NaN,md217,NaN,NaN,md220,NaN
1,Оригинальный документ три,{лематизированный} {документ} {три},Nick1,md1,md2,md3,md4,md5,md6,md7,...,NaN,NaN,NaN,md15,NaN,NaN,NaN,NaN,md20,NaN
2,Оригинальный документ четыре,{лематизированный} {документ} {четыре},Nick2,md21,md22,md23,md24,md25,md26,md27,...,NaN,NaN,NaN,NaN,NaN,md217,NaN,NaN,md220,NaN
3,Оригинальный документ пять,{лематизированный} {документ} {птяь},Nick1,md1,md2,md3,md4,md5,md6,md7,...,NaN,NaN,NaN,md15,NaN,NaN,NaN,NaN,md20,NaN
4,Оригинальный документ шесть,{лематизированный} {документ} {шесть},Nick2,md21,md22,md23,md24,md25,md26,md27,...,NaN,NaN,NaN,NaN,NaN,md217,NaN,NaN,md220,NaN
5,Оригинальный документ семь,{лематизированный} {документ} {семь},Nick1,md1,md2,md3,md4,md5,md6,md7,...,NaN,NaN,NaN,md15,NaN,NaN,NaN,NaN,md20,NaN
6,Оригинальный документ восемь,{лематизированный} {документ} {восемь},Nick2,md21,md22,md23,md24,md25,md26,md27,...,NaN,NaN,NaN,NaN,NaN,md217,NaN,NaN,md220,NaN